:host {
    display: block;
}

.container {
    padding-top: 150px;
    width: 80%;
    margin: 0 auto;
}

.pannel {
    min-height: 400px;
}

.pannel-button-space-between {
    justify-content: space-between;
}

.image {
    width: 60%;
}

// .stepper-container {
//     margin-top: 150px;
// }