<div
  class="z-10 w-full max-w-[450px] h-auto min-h-[350px] max-h-screen left-10 shadow-2xl py-5 px-7 overflow-hidden hover:animate-shake opacity-0 transition-opacity duration-[1500ms]"
  (mouseenter)="showLeftBackground.emit()"
  [class.pointer-events-none]="!visible"
  [class.opacity-100]="visible"
>
  <!-- Background chính -->
  <div class="absolute inset-0 bg-stone-200 opacity-1"></div>

  <!-- Nội dung trước khi submit -->
  <div class="relative text-zinc-700" *ngIf="!isSubmitted">
    <span class="text-3xl font-semibold">Welcome to </span>
    <span class="text-4xl font-bold">OhSheet</span>
    <br /><br />
    <div *ngIf="!isUserExist">
      <p class="font-semibold">
        🍂 Cám ơn các bạn đã ghé thăm
        <span class="text-xl font-bold text-white bg-stone-500 px-1 rounded"
          >Oh Sheet</span
        >
      </p>
      <p class="font-semibold">
        🍂 Hiện tại tớ đang trong quá trình xây dựng, có lẽ sẽ mất thêm một vài
        thời gian nữa để tung ra bản ra mắt đầu tiên.
      </p>
      <p class="font-semibold">
        🍂 Nếu mọi người muốn nhận thông báo mới nhất từ
        <span class="text-xl font-bold text-white bg-stone-500 px-1 rounded"
          >Oh Sheet</span
        >
        thì hãy nhập email vào bên dưới.
      </p>
    </div>

    <div *ngIf="isUserExist">
      <p class="font-semibold text-xl">
        Ôi trời ơi,
        <span class="text-2xl font-bold text-white bg-stone-500 px-1 rounded">{{
          anonymousUser.name
        }}</span>
        đã quay lại rồi à 🎉
      </p>
      <br />
      <p class="font-semibold text-xl">
        Hiện tại tớ đang được nâng cấp dần lên để có thể gặp bạn nè 😎
      </p>
      <br />
      <p class="font-semibold text-xl">Chúc bạn một ngày tốt lành nhé ✨✨</p>
      <br />
      <div class="text-center mt-7">
        <p-button
          class="align-middle"
          label="Không phải bạn?"
          styleClass="underline "
          [link]="true"
          (click)="logout.emit()"
        ></p-button>
      </div>
    </div>
  </div>

  <!-- Submit area -->
  <form [formGroup]="formEmail" *ngIf="!isUserExist">
    <div class="flex mt-10 justify-center" *ngIf="!isSubmitted">
      <div class="flex flex-col w-full">
        <p-floatlabel>
          <input
            pInputText
            id="over_label"
            formControlName="email"
            autocomplete="off"
            class="!rounded-tr-none !rounded-br-none w-full"
          />
          <label for="over_label">Email</label>
        </p-floatlabel>

        <ng-container
          *ngIf="
            formEmail.get('email')?.touched && formEmail.get('email')?.invalid
          "
        >
          <small
            class="p-error text-red-500 text-sm font-semibold mt-1"
            *ngIf="formEmail.get('email')?.hasError('required')"
          >
            Bạn chưa nhập email 😭
          </small>

          <small
            class="p-error text-red-500 text-sm font-semibold mt-1"
            *ngIf="formEmail.get('email')?.hasError('email')"
          >
            Email không hợp lệ 🤔
          </small>
        </ng-container>
      </div>

      <p-button
        id="btn-reach"
        styleClass="!px-8 !rounded-tl-none !rounded-bl-none"
        label="Subscribe"
        (click)="showInputNameDialog.emit()"
      />
    </div>
  </form>

  <!-- Nội dung sau khi submit -->
  <div class="relative text-zinc-700" *ngIf="isSubmitted">
    <span class="text-4xl font-bold">OhSheet !!!</span>
    <span class="text-3xl font-semibold"></span>
    <br /><br />
    <p class="font-semibold text-xl">
      Không thể ngờ rằng
      <span class="text-2xl font-bold text-white bg-stone-500 px-1 rounded">{{
        anonymousUser.name | slice : 0 : 10
      }}</span>
      đã trở thành một phần của chúng tớ 😲😲
    </p>
    <br />
    <p class="font-semibold text-xl">
      Khi nào có thông báo là tớ gửi thư cho cậu ngay nhé 🖊️😎
    </p>
    <img
      src="/assets/welcome-sections/thank-you-after-submitted.svg"
      alt=""
      class="mx-auto block w-[300px] pb-[10px]"
    />
  </div>

  <!-- Hover area -->
  <img
    src="/assets/icons/hover-area.svg"
    alt=""
    class="absolute animate-shake-continuous-slow opacity-0 right-[0px] top-[0px] w-[80px] prevent-copy transition-opacity duration-[3000ms]"
    [class.opacity-100]="pointerWelcomeBoxVisible"
    [class.hidden]="hideWelcomeBoxPointer"
  />
</div>
