<div
  id="section1"
  class="hide-scrollbar relative h-screen w-screen flex items-center justify-center bg-gray-100 border-box overflow-hidden"
>
  <app-play-guide
    id="play-guide"
    [visible]="playGuideVisible"
    (playClicked)="showWelcomeBox()"
    (scrollToFeature)="onScrollToFeature()"
  >
  </app-play-guide>

  <!-- Arrow point to Welcome box -->
  <img
    src="/assets/icons/arrow_1.svg"
    alt=""
    class="absolute animate-shake-continuous-slow opacity-0 left-[480px] top-[30px] w-[200px] rotate-6 prevent-copy transition-opacity duration-[3000ms]"
    [class.opacity-100]="pointerWelcomeBoxVisible"
    [class.hidden]="hideWelcomeBoxPointer"
  />

  <!-- Move here text -->
  <img
    src="/assets/texts/move-here.svg"
    alt=""
    class="absolute animate-shake-continuous-slow opacity-0 left-[570px] top-[130px] w-[200px] rotate-6 prevent-copy transition-opacity duration-[3000ms]"
    [class.opacity-100]="pointerWelcomeBoxVisible"
    [class.hidden]="hideWelcomeBoxPointer"
  />

  <app-position-wrapper [centerY]="true" left="2%" zIndex="50">
    <app-welcome-box
      [visible]="welcomeBoxVisible"
      [isSubmitted]="isSubmitted"
      [isUserExist]="isUserExist"
      [formEmail]="formEmail"
      [anonymousUser]="anonymousUser"
      [pointerWelcomeBoxVisible]="pointerWelcomeBoxVisible"
      [hideWelcomeBoxPointer]="hideWelcomeBoxPointer"
      (showLeftBackground)="showLeftBackground()"
      (logout)="logoutAnonymousUser()"
      (showInputNameDialog)="showInputNameDialog()"
    >
    </app-welcome-box>
  </app-position-wrapper>

  <app-left-background
    [leftBackgroundVisible]="leftBackgroundVisible"
  ></app-left-background>

  <!-- Arrow point to Guide box -->
  <img
    src="/assets/icons/arrow_3.svg"
    alt=""
    class="absolute animate-shake-continuous-slow opacity-0 right-[470px] bottom-[10px] w-[200px] prevent-copy transition-opacity duration-[3000ms]"
    [class.opacity-100]="pointerGuideBoxVisible"
    [class.hidden]="hideGuideBoxPointer"
  />

  <app-position-wrapper [centerY]="true" right="2%" zIndex="50">
    <app-guide-box
      [guideBoxVisible]="guideBoxVisible"
      [pointerGuideBoxVisible]="pointerGuideBoxVisible"
      [hideGuideBoxPointer]="hideGuideBoxPointer"
      [images]="images"
      (showRightBackground)="showRightBackground()"
    ></app-guide-box>
  </app-position-wrapper>

  <app-right-background
    [rightBackgroundVisible]="rightBackgroundVisible"
  ></app-right-background>

  <!-- Notice -->
  <img
    src="/assets/highlights/notice.svg"
    alt=""
    class="absolute left-[840px] top-[270px] w-[75px] animate-shake-continuous opacity-0 transition-opacity duration-[3000ms]"
    [class.pointer-events-none]="!mainButtonVisible"
    [class.opacity-100]="mainButtonVisible"
  />

  <!-- Main button -->
  <p-button
    id="btn-reach"
    class="animate-shake-continuous shadow-2xl opacity-0 transition-opacity duration-[3000ms]"
    styleClass="!px-12 !py-3"
    label="Let reach it!"
    (click)="onScrollToFeature()"
    [class.pointer-events-none]="!mainButtonVisible"
    [class.opacity-100]="mainButtonVisible"
    [class.hidden]="!mainButtonSoftVisible"
  />

  <!-- Dialog -->
  <p-dialog
    [modal]="true"
    [(visible)]="inputNameDialogVisible"
    [style]="{ width: '25rem' }"
  >
    <span class="text-2xl font-semibold block mb-8"
      >Tôi có thể gọi bạn là ... ?</span
    >

    <form [formGroup]="formName">
      <div class="flex items-center gap-4 mb-4">
        <input
          pInputText
          id="name"
          formControlName="name"
          class="flex-auto"
          autocomplete="off"
        />
      </div>

      <!-- Thông báo lỗi -->
      <small
        class="p-error text-red-500 text-1xl font-semibold"
        *ngIf="
          formName.get('name')?.touched &&
          formName.get('name')?.hasError('required')
        "
      >
        Bạn hãy cho mình được biết tên bạn đi mà 😭
      </small>

      <div class="flex justify-end gap-2 mt-5">
        <p-button
          label="Cancel"
          severity="secondary"
          (click)="inputNameDialogVisible = false"
        />
        <p-button label="Save" (click)="subscribe()" />
      </div>
    </form>
  </p-dialog>

  <p-dialog
    header="Bạn gì ơi!"
    [(visible)]="warningDialogVisible"
    [modal]="true"
    [style]="{ width: '20rem' }"
  >
    <p>Bạn chưa nhập email hoặc email không hợp lệ nè trùi ui 😭</p>
    <p-footer>
      <p-button label="OK" (click)="warningDialogVisible = false"></p-button>
    </p-footer>
  </p-dialog>
</div>
