<div
  class="border-2 border-green-500 absolute z-0 bg-stone-700 top-0 w-[550px] h-full left-0 opacity-0 transition-opacity duration-[1500ms]"
  [class.opacity-100]="leftBackgroundVisible"
>
  <img
    src="/assets/icons/treble-clef-dark.svg"
    alt=""
    class="absolute left-1 w-[150px] prevent-copy z-50"
  />
  <img
    src="/assets/icons/bass-clef-dark.svg"
    alt=""
    class="absolute left-[420px] top-[300px] rotate-[140deg] w-[150px] prevent-copy z-50"
  />
  <!-- Bottom of background welcomebox -->
  <img
    src="/assets/icons/treble-clef-light.svg"
    alt=""
    class="absolute bottom-7 left-[120px] w-[50px] prevent-copy z-50"
  />
  <img
    src="/assets/icons/bass-clef-light.svg"
    alt=""
    class="absolute bottom-10 left-[220px] w-[50px] prevent-copy z-50"
  />
  <img
    src="/assets/icons/c-clef-light.svg"
    alt=""
    class="absolute bottom-7 left-[320px] w-[50px] prevent-copy z-50"
  />
</div>
