<!-- Feature Section   -->
<div
  id="featureSection"
  class="relative h-screen flex items-center justify-center bg-stone-800"
>
  <!-- <h1 class="text-4xl font-bold text-cyan-50">Welcome to Section 2 🎉</h1>  -->

  <div class="relative group">
    <!-- Atomic icon -->
    <img
      src="/assets/feature-sections/input-atomic.svg"
      alt=""
      class="animate-shakeY-continuous-slow w-[650px] bottom-[130px] hover:cursor-pointer prevent-copy"
      (click)="toggleImgInputOption()"
    />

    <!-- Arrow point to Atomic icon down-->
    <img
      src="/assets/arrows/arr-null-light.svg"
      alt=""
      class="z-50 absolute left-[0px] top-[-20px] w-[100px]"
    />

    <!-- Text: Upload here-->
    <img
      src="/assets/texts/upload-here.svg"
      alt=""
      class="z-50 absolute left-[-150px] top-[40px] w-[200px] rotate-[20deg]"
    />

    <!-- Arrow point to Atomic icon up-->
    <img
      src="/assets/arrows/arr-null-light.svg"
      alt=""
      class="z-50 absolute right-[0px] bottom-[-20px] w-[100px] rotate-[180deg]"
    />

    <!-- Image input Option -->
    <div
      class="absolute right-[200px] top-[130px] transition-all duration-500 w-[300px] scale-0 opacity-0"
      [class.opacity-100]="inputOptionsVisible"
      [class.scale-100]="inputOptionsVisible"
      [class.-translate-y-[170px]]="inputOptionsVisible"
      [class.-translate-x-[-450px]]="inputOptionsVisible"
    >
      <img
        src="/assets/feature-sections/starry-night-with-title.svg"
        alt="Small1"
        class="w-full hover:cursor-pointer hover:animate-shake-continuous"
      />
    </div>

    <!-- Audio input Option -->
    <div
      class="absolute right-[200px] top-[130px] transition-all duration-500 w-[300px] scale-0 opacity-0"
      [class.opacity-100]="inputOptionsVisible"
      [class.scale-100]="inputOptionsVisible"
      [class.-translate-y-[-150px]]="inputOptionsVisible"
      [class.-translate-x-[450px]]="inputOptionsVisible"
    >
      <img
        src="/assets/feature-sections/audio-wave-with-title.svg"
        alt="Small1"
        class="w-full hover:cursor-pointer hover:animate-shake-continuous"
      />
    </div>

    <div *ngIf="feedbackButtonVisible">
      <p-button
        class="absolute bottom-[-50px] right-[300px] hover:animate-shake"
        label="Feedback"
        severity="secondary"
        styleClass="!px-8 !px-12"
        (click)="showDialog()"
      />
    </div>

    <p-dialog [(visible)]="feedbackDialogVisible" [style]="{ width: '25rem' }">
      <ng-template #header>
        <span class="font-bold whitespace-pre-wrap">
          Bạn hãy cho mình biết mong muốn, cảm nghĩ của về mình bạn là gì nhé 🥳
        </span>
      </ng-template>
      <textarea rows="5" cols="43" pTextarea [(ngModel)]="feedback"></textarea>
      <ng-template #footer>
        <p-button
          label="Cancel"
          [text]="true"
          severity="secondary"
          (click)="feedbackDialogVisible = false"
        />
        <p-button label="Send" (click)="sendFeedback()" />
      </ng-template>
    </p-dialog>
  </div>
</div>
