<p-menubar
  [model]="items"
  styleClass="!bg-gray-50 text-white shadow-md fixed top-0 left-0 w-full z-[100]"
>
  <ng-template pTemplate="start">
    <div class="flex items-center gap-2">
      <img src="assets/logo.png" alt="Logo" class="h-8 w-8" />
      <span class="text-lg font-bold">OhSheet</span>
    </div>
  </ng-template>

  <ng-container *ngIf="currentUser$ | async as currentUser; else guestTemplate">
    <div class="flex items-center gap-3">
        <p-button 
            [label]="'Welcome, ' + currentUser.firstName" 
            icon="pi pi-user" 
            (click)="menu.toggle($event)" 
            styleClass="p-button-text text-black"
        ></p-button>
        <p-menu #menu [model]="userMenuItems" [popup]="true"></p-menu>
    </div>
  </ng-container>
  <ng-template #guestTemplate>
    <div class="flex gap-4">
        <p-button
        styleClass="!px-8"
        label="Sign In"
        (click)="navigateToSignIn()"
        />
        <p-button
        styleClass="!px-8"
        label="Sign Up"
        severity="secondary"
        (click)="navigateToSignUp()"
        />
    </div>
  </ng-template>
</p-menubar>

<app-coming-soon-dialog
  [(visible)]="comingSoonDialogVisible"
></app-coming-soon-dialog>
