<div
  class="border-2 border-green-500 absolute z-0 bg-stone-700 w-[550px] h-svh top-0 right-0 opacity-0 transition-opacity duration-[1500ms]"
  [class.opacity-100]="rightBackgroundVisible"
>
  <img
    src="/assets/icons/treble-clef-dark.svg"
    alt=""
    class="absolute right-1 w-[150px] prevent-copy z-50"
  />
  <img
    src="/assets/icons/bass-clef-dark.svg"
    alt=""
    class="absolute left-[0] bottom-[270px] rotate-[220deg] w-[150px] prevent-copy z-50"
  />
  <!-- Bottom of background guidebox -->
  <img
    src="/assets/icons/treble-clef-light.svg"
    alt=""
    class="absolute bottom-7 right-[120px] w-[50px] prevent-copy z-50"
  />
  <img
    src="/assets/icons/bass-clef-light.svg"
    alt=""
    class="absolute bottom-10 right-[220px] w-[50px] prevent-copy z-50"
  />
  <img
    src="/assets/icons/c-clef-light.svg"
    alt=""
    class="absolute bottom-7 right-[320px] w-[50px] prevent-copy z-50"
  />
</div>
